h1,h2 {
    color:white;
    background-color:hotpink;
    font-size: 26px;
    height:auto;
    margin: 25px;
    text-align:center;
    padding: 30px;
}

h3 {
    color:hotpink;
    font-family: cursive, serif;
    font-size: 22px;
    text-align:center;
}

img {
    display:flex;
    justify-content: center;
    align-items: center;
    margin:auto
}

a:visited {
  color: red;
  text-decoration-color: rgb(249, 108, 178);
}