h1,h2 {
    color:white;
    background-color:hotpink;
    font: size 200px;
    height:auto;
    margin: 25px;
    text-align:center;
    padding: 30px;
}

h3 {
    color:hotpink;
    font-family: cursive, serif;
    font: size 250px;;
    text-align:center;
}